<div class="component-machine-entry">
    {{textarea rows="10" value=text placeholder="Paste in a block of text, like a few paragraphs of a Wikipedia article. You can click the button multiple times to see different versions of results."}}
</div>
{{submit-button data=data text=text resultsComplete=resultsComplete shouldProcessTextfield=true}}