{{#if showIncomplete}}
<div style="text-align:center">Please fill out all fields.</div>
{{/if}} 
{{#bs-button class="btn-submit" type="primary" onClick=(action "submit")}} Let's do this {{/bs-button}}