.word-blank {
    text-decoration: underline;
    padding: 0 5px;
    font-family: 'Indie Flower', sans-serif;
    font-size: 24px;
    color: #C02F1D;
}

.component-results-display {
    font-size: 20px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

label {
    min-width: 40%;
    text-align: right;
    display: inline-block;
}

.form-row {
    padding: 5px;
}

.library-name {
    font-size: 40px;
    font-family: 'Fontdiner Swanky', cursive;
    color: #C02F1D;
}

button {
    /* margin-left: 40%; */
    width: 100%;
}

.btn-submit {
    margin-bottom: 40px;
}

.component-machine-entry {
    padding: 20px 0;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
