{{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}JavaScript MadLibraries{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "manual"}}Human{{/nav.link-to}}{{/nav.item}}
     {{#nav.item}}{{#nav.link-to "nlp"}}Machine{{/nav.link-to}}{{/nav.item}}
     {{#nav.item}}{{#nav.link-to "about"}}About{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<div class="container">
    <h1>JavaScript MadLibraries</h1>
    <h3>Fill in your {{link-to "own words" "manual"}}, or make the
        {{link-to "machine" "nlp"}} do it, using Natural Language Processing!
        </h3> 
    <p>
        Made with &hearts; in <a href="https://emberjs.com">Ember.js</a>
        by <a href="https://twitter.com/jwwweber">Jen Weber, @jwwweber</a>.
        Uses <a href="http://compromise.cool">NLP Compromise</a> and 
        <a href="https://www.ember-bootstrap.com/">Ember Bootstrap</a>.
        Source code on <a href="https://github.com/jenweber/javascript-madlibraries">GitHub</a>.
        </p>
    {{outlet}}
</div>