<div class="flex-container">
<div class="col-sm-6 col-xs-12">
    {{entry-form data=data resultsComplete=resultsComplete}}
</div>
<div class="col-sm-6 col-xs-12">
    {{results-display data=data resultsComplete=resultsComplete}}
</div>
</div>